/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.libs
/.version
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/mkinstalldirs
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/data/Makefile
/data/Makefile.in
/data/org.freedesktop.GeoClue2.service
/demo/.deps/
/demo/.libs/
/demo/Makefile
/demo/Makefile.in
/demo/where-am-i
/demo/*.o
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/m4/intltool.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/geoclue.pot
/po/gnome-boxes.pot
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-it
/src/.deps
/src/.libs/
/src/Geoclue-1.0.gir
/src/Geoclue-1.0.typelib
/src/geoclue
/src/geoclue-2.0.pc
/src/geoclue-interface.c
/src/geoclue-interface.h
/src/geoip-server/.deps/
/src/geoip-server/Makefile
/src/geoip-server/Makefile.in
/src/geoip-server/geoip-lookup
/src/geoip-server/geoip-lookup.o
/src/geoip-server/geoip-update
/src/geoip-server/geoip-update.o
/src/geoip-server/test-geoipformat
/src/geoip-server/test-geoipformat.o
/src/libgeoclue-1.0.la
/src/libgeoclue_1_0_la-geoclue-interface.lo
/src/*.o
/src/Makefile
/src/Makefile.in
/src/geocue
/so_locations
/stamp-h1
/tags
